<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>操作界面</title>
<link href="/css/style.css" rel="stylesheet" type="text/css" />
<style type="text/css">
body {
	background:#FFF
}
</style>
</head>

<body>
<div id="contentWrap">
<div class="pageTitle"></div>
<div class="pageColumn">
<div class="pageButton"></div>
  <table>
    <thead>

    <th width="10%">学生编号</th>
      <th width="10%">姓名</th>
      <th width="10%">性别</th>
      <th width="10%">生源地</th>
      <th width="10%">成绩排名</th>
      <th width="10%">本科院校</th>
        </thead>
    <tbody>
    	<tr>

          <th width="10%">学生编号</th>
          <th width="10%">姓名</th>
          <th width="10%">性别</th>
          <th width="10%">生源地</th>
          <th width="10%">成绩排名</th>
          <th width="10%">本科院校</th>

      </tr>
      
      <tr class=" trLight">

        <th width="10%">学生编号</th>
        <th width="10%">姓名</th>
        <th width="10%">性别</th>
        <th width="10%">生源地</th>
        <th width="10%">成绩排名</th>
        <th width="10%">本科院校</th>

      </tr>
      
<!--      <tr>-->
<!--        <td class="checkBox"><input name="" type="checkbox" value="" /></td>-->
<!--        <th width="10%">学生编号</th>-->
<!--        <th width="10%">姓名</th>-->
<!--        <th width="10%">性别</th>-->
<!--        <th width="10%">生源地</th>-->
<!--        <th width="10%">成绩排名</th>-->
<!--        <th width="10%">本科院校></th>-->
<!--        <td class="btn"><input name="" type="checkbox" value="具体信息查看" /></td>-->
<!--      </tr>-->
<!--      -->
<!--      <tr>-->
<!--        <td class="checkBox"><input name="" type="checkbox" value="" /></td>-->
<!--        <th width="10%">学生编号</th>-->
<!--        <th width="10%">姓名</th>-->
<!--        <th width="10%">性别</th>-->
<!--        <th width="10%">生源地</th>-->
<!--        <th width="10%">成绩排名</th>-->
<!--        <th width="10%">本科院校></th>-->
<!--        <td class="btn"><input name="" type="checkbox" value="具体信息查看" /></td>-->
<!--      </tr>-->
<!--      -->
<!--      <tr>-->
<!--        <td class="checkBox"><input name="" type="checkbox" value="" /></td>-->
<!--        <th width="10%">学生编号</th>-->
<!--        <th width="10%">姓名</th>-->
<!--        <th width="10%">性别</th>-->
<!--        <th width="10%">生源地</th>-->
<!--        <th width="10%">成绩排名</th>-->
<!--        <th width="10%">本科院校></th>-->
<!--        <td class="btn"><input name="" type="checkbox" value="具体信息查看" /></td>-->

<!--      </tr>-->
      

    </tbody>
  </table>
</div></div>
</body>
</html>
