<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>论文添加页面</title>

    <link href="/css/redo.css" rel="stylesheet" type="text/css">

</head>

<body class="login" >

<!--	form表单可以用来处理信息和反馈相应的提交信息-->
<form action="/academic/insertstu" method="post">
    <div class="login_m">
        <div class="login_boder">
            <div class="login_padding">

                <h2>作者</h2>
                <label>
                    <input type="text" name="name"  id="username" class="txt_input">
                </label>
                <h2>文章名称</h2>
                <label>
                    <input type="text" name="artical"  id="sname" class="txt_input">
                </label>
                <h2>第几作者</h2>
                <label>
                    <input type="text" name="authorlevel"  id="ssex" class="txt_input">
                </label>
                <h2>期刊名称</h2>
                <label>
                    <input type="text" name="arname"  id="sclass" class="txt_input">
                </label>

                <div class="rem_sub">
                    <label>
                        <input type="submit" class="sub_button" name="button" id="button" value="提交修改" style="opacity: 0.7;">
                    </label>
                </div>
            </div>
        </div><!--login_boder end-->
    </div><!--login_m end-->
</form>


</body>

</html>